
.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px;
    gap: 30px;
    padding: 20px;
}

.contact-form {
    flex: 1;
    max-width: 60%;
    padding: 4rem;
    background-color: #5115c3;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.contact-form h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
    line-height: 1.2;
    text-align: left;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.form-group.full-width {
    flex-direction: column;
}

.floating-label {
    position: relative;
    flex: 1;
    min-width: 250px; /* Ensures inputs don't get too small on small screens */
}

.input-icon {
    position: absolute;
    top: 43px;
    left: 12px;
    color: grey;
    font-size: 1.2rem;
}

.floating-label input,
.floating-label textarea {
    padding: 8px 14px 14px 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #f9fafb;
    color: #333;
}

.floating-label input:focus,
.floating-label textarea:focus {
    border-color: #8f94fb;
    box-shadow: 0 0 10px rgba(143, 148, 251, 0.2);
}

.floating-label label {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 8px;
    display: block;
    transition: color 0.3s;
}

.contact-container .submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.contact-container button {
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 80%;
    box-shadow: 0 8px 20px rgba(81, 21, 195, 0.2);
}

.contact-container button:hover {
    transform: translateY(-3px);
}

.privacy-text {
    margin-left: 3rem;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 0;
    color: white;
}

.privacy-text a {
    color: white;
    text-decoration: underline;
}

.testimonial-section {
    flex: 1;
    max-width: 40%;
    padding: 40px;
    background: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.7s ease-in-out;
}

blockquote {
    font-size: 1.3rem;
    margin: 0 0 20px;
    margin-top: 1.5rem;
    text-align: justify;
    line-height: 1.6;
    color: #333;
}

.ic_quote {
    width: 3rem;
}

.item__score {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}

.item__score .logo {
    margin-right: 36px;
}

.item__score-stars {
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}

.item__score-stars img {
    width: 16px; /* Adjust the size as needed */
    height: 16px; /* Adjust the size as needed */
}

.item__score-number {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.testimonial-author {
    align-items: center;
}

.author-details {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.author-details .author-info {
    margin-left: 1rem;
}

.author-details .author-profile {
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.author-details h4 {
    margin: 0;
    font-size: 1rem;
}

.author-details p {
    margin: 0;
    font-size: 0.8rem;
    color: #555;
}


.carousel-indicators {
    display: none;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-form,
    .testimonial-section {
        max-width: 100%;
    }

    .contact-form {
        padding: 3rem;
    }

    .submit-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .contact-form {
        padding: 2rem;
    }

    .form-group {
        flex-direction: column;
        gap: 10px;
    }

    .floating-label {
        min-width: unset;
        width: 100%;
    }

    .testimonial-section {
        margin-top: 30px;
        padding: 20px;
    }

    .submit-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .privacy-text {
        margin-left: 0;
    }

    .contact-container button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .contact-form h1 {
        font-size: 2rem;
    }

    button {
        padding: 12px;
    }

    .testimonial-author img {
        width: 32px;
        height: 32px;
    }

    blockquote {
        font-size: 1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


