#backgroundVideo { position: absolute; 
    top: 0; left: 0;
     width: 100%; 
     height: 110%; 
     z-index: -1; 
     object-fit: cover; } /* Fullscreen video background */ 
/* Container wrapping Navbar and Mainpage */ 
.content-wrapper 
{ position: relative; 
    overflow: hidden; } /* Wrapper for Navbar and Main content */
.feature-box 
{ display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 2rem; 
    border-radius: 20px; 
    border-radius: 24px; 
    background: rgba(255, 255, 255, .08); 
    -webkit-backdrop-filter: blur(24px);
     backdrop-filter: blur(24px); 
     height: 100%; min-height: 300px; 
     box-sizing: border-box; } 
.feature-box h3 { font-size: 1.8rem; margin-bottom: 1.5rem;
     color: #fff; } 
.feature-box p { font-size: 1.2rem; 
    line-height: 1.8; color: #fff; } 
    .features { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 1rem; width: 100%; margin-top: 1rem; overflow: hidden; } 
    .mainpage .container { max-width: 1400px; } 
.mainpage { position: relative; color: #fff; background-color: transparent; background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: flex-start; margin-top: 4rem; text-align: left; z-index: 2; padding-bottom: 5rem; } 
.main-section { max-width: 1400px; } 
.main-section .we h1 { font-size: 3.5rem; font-weight: 700; margin-bottom: 2rem; line-height: 3.8rem; } 
.main-section .p p { font-size: 1.2rem; line-height: 1.8; margin-bottom: 2rem; } 
.cta-button { background-color: #2c039b; color: #fff; border: none; padding: 1rem 2.5rem; margin-top: 2rem; font-size: 1.2rem; border-radius: 30px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); cursor: pointer; transition: all 0.3s ease; } 
.cta-button:hover { background-color: #4cc1ec; box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); transform: translateY(-3px); } 
.bottom { display: flex; align-items: center; justify-content: space-between; margin-top: auto; } 
.bottom .icons i { font-size: 2.5rem; color: #fff; } 
.bottom .navigate { height: 40px; width: 40px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: rgba(255, 255, 255, 0.08); color: #fff; } 
.highlight {  background: linear-gradient(to right, #00d2ff, #3a7bd5); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; }